<!--TODO: Create Thymeleaf template-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Destinations</title>
</head>
<body>
<div class="container">
    <h3>Destinations</h3>
    <hr>
    <p class="h4 mb-4">Add destination</p>

    <form action="#" th:action="@{/routes/add}"
                    th:object="${route}" method="post">

        <input type="text" th:field="*{destination.name}" class="form-control mb-4 col-4" placeholder="Destination">
        <input type="text" th:field="*{origin.name}" class="form-control mb-4 col-4" placeholder="Origin">
        <input type="number" th:field="*{maxPrice}" class="form-control mb-4 col-4" placeholder="Price">

        <button type="submit" class="btn btn-info col-2">Add</button>
    </form>

    <hr>
    <a th:href="@{/routes}">Back to routes list</a>
</div>
</body>
</html>